html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chessboard, .squares {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 90vw;
    height: 90vw;
    max-width: 80vh;
    max-height: 80vh;
    border: 3px solid black;
    box-shadow: 5px 5px 10px #aaaaaa;
}

.squares {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lightSquare {
    background-color: #ffffff;
}
.darkSquare {
    background-color: #769656;
}
.highlighted {
    outline: 0.3em solid rgb(99, 233, 37);
    outline-offset: -0.3em;
    opacity: 0.6;
}

.piece {
    width: 100%;
    height: 100%;
}
